body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://images.squarespace-cdn.com/content/v1/5fe4caeadae61a2f19719512/1612118482566-UAK7L5MO552SWFEPH6VD/Naruto14.jpg');
  color: rgb(254, 215, 151);
}

.container {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  text-align: center;
  color: #fb8b1b;
}

.students, .courses {
  width: 45%;
  float: left;
  margin: 10px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.list-item:hover {
  background-color: #f5f5f5;
}

button {
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f881b2;
}

select:hover {
  background-color: #ff4592;
  color: #ffffff;
}

